<div class="navbar w-auto d-flex align-items-center justify-content-between">
    <div class="leftNavBar w-auto d-flex align-items-center">
        <i class="fa-solid fa-bars" onclick="toggleSidebar(this)"></i>
        <div class="input-group">
            <input type="text" class="form-control custom-focus-style" placeholder="Search"
                aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
    </div>
    <div class="rightNavbar w-auto h-100 d-flex align-items-center">
        <div class="notificationsContainer">
            <i class="fa-regular fa-bell"></i>
        </div>
        <div class="infoContainer d-flex align-items-center">
            <div class="imgLogin">
                <img src="{{ user.image.url }}" alt="">
            </div>
            <div class="greetings">
                <span class="greet">Good Day!</span>
                <div class="nameLogin">{{user.fName}} {{user.lName}}</div>
            </div>
        </div>
    </div>
</div>