<div class="sideBar">
    <div class="imgGroupSidebar">
        <img src="{{ '/media/site/logo.png' }}" alt="">
        <img src="{{ '/media/site/logoText.png' }}" alt="" id="hiddenIMG">
    </div>
    <nav>
        <ul>
            <li class="" style="display: none;">
                <a href="/Admin/Dashboard.html">
                    <iconify-icon icon="ic:round-dashboard"></iconify-icon>
                    <span class="links">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Dashboard1.html">
                    <iconify-icon icon="ic:round-dashboard"></iconify-icon>
                    <span class="links">Dashboard Employer</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Profile.html" style="display: none;">
                    <iconify-icon icon="iconamoon:profile-circle-fill"></iconify-icon>
                    <span class="links">Profile</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Profile1.html">
                    <iconify-icon icon="iconamoon:profile-circle-fill"></iconify-icon>
                    <span class="links">Profile Employer</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Work.html">
                    <iconify-icon icon="solar:case-bold"></iconify-icon>
                    <span class="links">Work</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Company.html">
                    <iconify-icon icon="solar:case-bold"></iconify-icon>
                    <span class="links">Company</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Job.html">
                    <i class="fa-solid fa-user-tie"></i>
                    <span class="links">Job</span>  
                </a>
            </li>
            <li class="">
                <a href="/Admin/Job1.html">
                    <i class="fa-solid fa-user-tie"></i>
                    <span class="links">Job</span>
                </a>
            </li>
            <li class="">
                <a href="/logout/">
                    <iconify-icon icon="basil:logout-solid"></iconify-icon>
                    <span class="links">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>