<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>-->
    <script src="/GigHubSite/GigHub/static/js/all.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/275edc9f9d.js" crossorigin="anonymous" defer></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="/GigHubSite/GigHub/static/css/bootstrap.css">
    <link rel="stylesheet" href="/GigHubSite/GigHub/static/css/all.css">
    <link rel="website icon" type="png " href="/GigHubSite/media/site/logo.png">
    <title>Job</title>
</head>

<body>
    <div class="bodyContainer" id="bodyContainer">
        <div class="navbar w-auto d-flex align-items-center justify-content-between">
            <div class="leftNavBar w-auto d-flex align-items-center">
                <i class="fa-solid fa-bars" onclick="toggleSidebar(this)"></i>
                <div class="input-group">
                    <input type="text" class="form-control custom-focus-style"  placeholder="Search" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>
            <div class="rightNavbar w-auto h-100 d-flex align-items-center">
                <div class="notificationsContainer">
                    <i class="fa-regular fa-bell"></i>
                </div>
                <div class="infoContainer d-flex align-items-center">
                    <div class="imgLogin">
                        <img src="/GigHubSite/media/site/Tadashi.png" alt="">
                    </div>
                    <div class="greetings">
                        <span class="greet">Good Day!</span>
                        <div class="nameLogin">John Kenneth Arellano</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sideBar">
            <div class="imgGroupSidebar">
                <img src="/GigHubSite/media/site/logo.png" alt="">
                <img src="/GigHubSite/media/site/logoText.png" alt="" id="hiddenIMG">
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/Admin/Dashboard.html">
                            <iconify-icon icon="ic:round-dashboard"></iconify-icon>
                            <span class="links">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Profile.html">
                            <iconify-icon icon="iconamoon:profile-circle-fill"></iconify-icon>
                            <span class="links">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Work.html">
                            <iconify-icon icon="solar:case-bold"></iconify-icon>
                            <span class="links">Work</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Admin/Job.html">
                            <i class="fa-solid fa-user-tie"></i>
                            <span class="links">Job</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <iconify-icon icon="basil:logout-solid"></iconify-icon>
                            <span class="links">Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mainContainer"></div>
    </div>
</body>
</html>