* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orangeMain: #E57B1E;
    --orangeSecond: #FEC887;
    --black: #212121;
    --white: #fff;
    --lightgray: #979797;
    --red: #EF5350;
    --lightred: #EF9A9A;
    --medium: 1vw;
    --larger: 1.3vw;
    --small: .8vw;
}

body {
    font-family: 'Lexend', sans-serif;
}

.mainContainer {
    overflow-y: scroll;
    padding-top: 1vh;
}

.mainContainer::-webkit-scrollbar {
    display: none;
}

.firstLogin {
    display: none;
}

.firstLogin.show {
    width: 95%;
    height: fit-content;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
}

.formTitle {
    width: 100%;
    height: fit-content;
    font-size: 2vw;
    font-weight: 600;
    color: var(--orangeMain);
    margin-bottom: .5vw;
    padding-left: 8vw;
}

.formTitle span {
    color: var(--black);
}

.formHolder {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.formHolder form {
    width: 80%;
    height: fit-content;
    background-color: var(--white);
    padding: 1vw;
    border-radius: .4vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.43);
}

.formTitle1 {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 2vw;
    color: var(--orangeMain);
    margin: .5vw 0;
    font-weight: 600;
}

.formGroup {
    position: relative;
    width: 100%;
    height: fit-content;
    gap: 1vw;
    display: flex;
    margin-bottom: 1vw;
}

.formGroup1 {
    position: relative;
    width: 100%;
    height: fit-content;
    gap: 1vw;
    display: flex;
    margin-bottom: 1vw;
}

.formInput {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.formGroup .formInput {
    width: calc(100%/2);
}

.formGroup1 .formInput {
    width: calc(100%/3);
}

.formLabel {
    width: 100%;
    height: fit-content;
    margin-bottom: 1vh;
    color: var(--orangeMain);
    font-size: var(--medium);
    font-weight: 600;
    transition: all ease .3s;
}

.inputBox {
    width: 100%;
    height: 5vh;
    border: solid 1px var(--lightgray);
    color: var(--black);
    outline: none;
    border-radius: .3vw;
    padding: 0 1vw;
    font-size: var(--medium);
}

.buttonContainer {
    width: 100%;
    padding: .5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mainButton {
    width: fit-content;
    height: fit-content;
    padding: .4vw 2vw;
    border: solid 1px var(--orangeMain);
    outline: none;
    border-radius: .4vw;
    color: var(--white);
    background-color: var(--orangeMain);
    font-size: var(--medium);
    transition: all ease .3s;
    cursor: pointer;
}

.mainButton:hover {
    color: var(--orangeMain);
    background-color: var(--white);
}

.errorMessage {
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    color: var(--red);
    font-size: var(--small);
    padding-left: 1vh;
}

.companyContainer {
    display: none;
}

.companyContainer.show {
    margin-top: 1vw;
    width: 96%;
    height: 82vh;
    overflow-y: scroll;
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.companyContainer.show::-webkit-scrollbar {
    display: none;
}

.formTitle2 {
    width: 100%;
    height: fit-content;
    font-size: 2vw;
    font-weight: 600;
    color: var(--orangeMain);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formTitle2>span {
    font-size: var(--larger);
    font-weight: 100;
    margin-right: 1vw;
    cursor: pointer;
}

.companyHolder {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
}

.companyHolderContainer {
    position: relative;
    margin-top: 1vw;
    width: calc(100%/4 - 1vh);
    height: 10vw;
    border-radius: .4vw;
    padding: 1vw;
    background-color: #fec8878c;
    display: flex;
    flex-direction: column;
    border: solid 1px #fec8878c;
    cursor: pointer;
    transition: all ease .3s;
    overflow: hidden;
}

.companyHolderContainer::before {
    content: "VIEW";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orangeMain);
    font-weight: bold;
    z-index: 10;
    background-color: #ffffff;
    transform: translateY(100%);
    transition: all ease 0.2s;
    opacity: 0;
}

.companyHolderContainer:hover::before {
    transform: translateY(0);
    opacity: 1;
    transition: all ease .2s;
}


.companyHolderContainer span {
    width: 100%;
    color: var(--black);
}

.companyHolderContainer span:nth-child(1) {
    font-size: var(--larger);
}

.companyHolderContainer span:nth-child(2) {
    font-size: var(--medium);
}

.companyHolderContainer span:nth-child(3) {
    position: absolute;
    bottom: 1vh;
    font-size: var(--small);
}

.forms {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    display: none;
    transition: all ease .3s;
}

.forms>.formHolder {
    width: 60vw;
}

.companyDetails {
    display: none;
    transition: all ease .3s;
}

.companyDetails.show {
    margin-top: 1vw;
    width: 96%;
    height: 80vh;
    overflow-y: scroll;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.43);
    border-radius: .3vw;
    transition: all ease .3s;
    background-color: var(--white);
}

.companyDetails.show::-webkit-scrollbar {
    display: none;
}

.companyDetailsHeader {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.formTitles {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 0.5vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    color: var(--lightgray);
    font-size: var(--medium);
    transition: all linear 0.1s;
    cursor: pointer;
}

.formTitles.active,
.formTitles:hover {
    color: var(--black);

}

.formTitles:hover::before {
    width: 60%;
}

.formTitles::before {
    position: absolute;
    bottom: .5vh;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--orangeMain);
    transition: width ease 0.2s;
}

.formTitles.active::before {
    width: 60%;
}

.backButton {
    position: absolute;
    right: 1vw;
    cursor: pointer;
}