* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orangeMain: #e57b1e;
  --orangeSecond: #fec887;
  --black: #212121;
  --white: #fff;
  --lightgray: #979797;
  --red: #ef5350;
  --lightred: #ef9a9a;
  --medium: 0.9rem;
  --larger: 1.17rem;
  --small: 0.72rem;
}

.mainContainer {
  overflow-y: scroll;
  padding: 1.8rem 0;
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.formContainer,
.profileView {
  width: 95%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.27rem;
  background-color: var(--white);
  padding: 0.9rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.43);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer::-webkit-scrollbar {
  width: 10px;
}

.formContainer::-webkit-scrollbar-track {
  display: none;
}

.formContainer::-webkit-scrollbar-thumb {
  background: var(--orangeMain);
  border-radius: 2px;
}

.formContainer::-webkit-scrollbar-thumb:hover {
  background: var(--orangeSecond);
}

.profileView {
  display: none;
}

form {
  width: 100%;
  height: fit-content;
}

.formHeader {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formTitles {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightgray);
  font-size: var(--small);
  transition: all linear 0.1s;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formTitles.active,
.formTitles:hover {
  color: var(--black);
  font-size: var(--medium);
}

.formTitles::before {
  position: absolute;
  bottom: 0.5rem;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--orangeMain);
  transition: width ease 0.2s;
}

.formTitles.active::before,
.formTitles:hover::before {
  width: 100%;
}

.formContents {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.35rem;
}

.formContent {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  display: none;
}

.formContent.active {
  display: block;
}

.formGroup {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 0.9rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.43);
}

.imgContainer img {
  width: 100%;
  flex-shrink: 0;
}

.formGroup label {
  width: 1.53rem;
  height: 1.53rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.9rem;
  margin-left: 4.5rem;
  background-color: var(--orangeMain);
  font-size: var(--medium);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

.formGroup label:hover {
  color: var(--black);
  background-color: var(--orangeSecond);
}

.formTitle {
  margin-top: 0.9rem;
  width: 100%;
  height: fit-content;
  padding-left: 0.9rem;
  color: var(--orangeMain);
  font-weight: 600;
  letter-spacing: 0.72px;
  font-size: var(--larger);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formTitle iconify-icon {
  padding-right: 0.9rem;
  cursor: pointer;
}

.formTitle1,
.formTitle2,
.formTitle3 {
  margin-top: 0.9rem;
  width: 100%;
  height: 4vh;
  padding-left: 0.9rem;
  color: var(--orangeMain);
  font-weight: 600;
  letter-spacing: 0.05vw;
  font-size: var(--medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem;
}

.formTitle3 {
  margin-top: 0;
  padding-left: 0.9rem;
  color: var(--black);
}

.formTitle2 {
  margin-top: 0.45rem;
  color: var(--black);
}

.formTitle2 iconify-icon {
  color: var(--orangeMain);
  cursor: pointer;
  transition: all ease 0.3s;
}

.formTitle2 iconify-icon:hover {
  color: var(--orangeSecond);
  transform: scale(1.2);
}

.inputGroup {
  margin-top: 0.9rem;
  width: 100%;
  height: fit-content;
  padding: 0 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.inputGroup .inputContainer {
  width: calc(100% / 4);
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.inputContainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.9rem;
  height: fit-content;
  margin-top: 0.45rem;
}

.inputContainer label,
.inputContainer2 label {
  width: 100%;
  font-size: var(--medium);
  color: var(--black);
  margin-bottom: 0.5vh;
  font-weight: 600;
}

.inputBox {
  width: 100%;
  height: 5vh;
  color: var(--black);
  font-size: var(--medium);
  padding: 0 0.9rem;
  border: solid 1px #d9d9d9;
  border-radius: 0.2vw;
  outline: none;
  transition: all ease 0.3s;
}

.inputBox:focus {
  border-color: var(--orangeMain);
}

.errorMessage {
  width: 100%;
  height: 3vh;
  color: var(--red);
  display: flex;
  align-items: center;
  font-size: var(--small);
}

.inputGroup1 {
  margin-top: 0.9rem;
  width: 100%;
  height: fit-content;
  padding: 0 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.inputGroup1 .inputContainer:first-child {
  flex-grow: 1;
}

.inputGroup1 .inputContainer:nth-child(2) {
  width: calc(100% / 3);
}

.inputGroup2 {
  margin-top: 0.9rem;
  width: 100%;
  height: fit-content;
  padding: 0 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  /* border: dashed 1px var(--lightgray);
    border-width: 0 0 1px 0;
    padding-bottom: 0.9rem; */
}

.inputGroup2 .inputContainer {
  width: calc(100% / 3);
}

.buttonContainer {
  width: 100%;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainButton {
  width: fit-content;
  height: fit-content;
  padding: 0.35rem 1.5rem;
  border: solid 1px var(--orangeMain);
  outline: none;
  border-radius: 0.4vw;
  color: var(--white);
  background-color: var(--orangeMain);
  font-size: var(--medium);
  transition: all ease 0.3s;
  cursor: pointer;
}

.mainButton:hover {
  color: var(--orangeMain);
  background-color: var(--white);
}

.inputContainer iconify-icon {
  height: 0.9rem;
  width: 0.9rem;
  position: absolute;
  right: 0.9rem;
  color: var(--lightgray);
}

.eyeClose,
.eyeOpen {
  display: none;
}

.honorsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.45rem;
}

.awardContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 0.45rem 1.8rem;
  margin: 0.45rem;
}

.awardContainer:last-child {
  margin-bottom: 0;
}

.awardTitle {
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
}

.awardTitle span {
  padding: 0 0.9rem 0 0;
  color: var(--black);
  font-weight: 600;
  font-size: var(--medium);
}

.awardTitle iconify-icon {
  color: var(--orangeMain);
  padding: 0 0.2vw;
  cursor: pointer;
  font-size: var(--larger);
  transition: all ease 0.3s;
}

.awardTitle iconify-icon:hover {
  color: var(--orangeSecond);
  transform: scale(1.1);
}

.awardTitle iconify-icon:nth-child(3) {
  color: var(--red);
  padding: 0 0.2vw;
  cursor: pointer;
  font-size: var(--larger);
  transition: all ease 0.3s;
}

.awardTitle iconify-icon:nth-child(3):hover {
  color: var(--lightred);
  transform: scale(1.1);
}

.awardDetails {
  font-size: var(--medium);
  color: var(--black);
}

.awardDetails span:first-child {
  padding: 0 0.45rem 0 0;
  border: solid 1px var(--black);
  border-width: 0 1px 0 0;
}

.awardDetails span:nth-child(2) {
  padding: 0 0 0 0.45rem;
}

.formsInput {
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 2;
}

.formsInput form {
  position: absolute;
  width: 70vw;
  border-radius: 0.4vw;
  padding: 0.9rem;
  background-color: var(--white);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  display: none;
  flex-direction: column;
}

.formsInput1 {
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 4;
}

.formsInput1 form {
  position: absolute;
  width: 40vw;
  border-radius: 0.4vw;
  padding: 0.9rem;
  background-color: var(--white);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  display: none;
  flex-direction: column;
}

.educationalAttainmentContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 0.9rem;
}

.educationContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.9rem 0.9rem 0;
  background-color: #fec88760;
  border-radius: 0.27rem;
}

.educationTitle {
  width: 100%;
  height: fit-content;
  color: var(--black);
  transition: all ease 0.3s;
  display: flex;
  justify-content: space-between;
}

#schoolEd {
  font-size: var(--larger);
  font-weight: 600;
}

.educationTitle span:last-child {
  font-size: var(--medium);
}

.courseEd {
  display: flex;
  flex-direction: column;
}

#dateEd {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.educOptions {
  margin-top: 0.45rem;
  width: 100%;
  height: fit-content;
  border: solid 1px var(--orangeMain);
  border-width: 1px 0 0 0;
  padding: 0.45rem 0;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  justify-content: center;
}

.educOptions button {
  color: var(--black);
  padding: 0.45rem 0.9rem;
  font-size: var(--medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vh;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 0.4vw;
  background-color: transparent;
}

.educOptions button:hover {
  background-color: var(--orangeSecond);
}

.educAddForm {
  width: 100%;
  height: 70vh;
  gap: 1vh;
  display: flex;
  overflow: hidden;
  padding-top: 0.9rem;
}

.educData {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.educData::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1110px) {
  .inputGroup2 {
    flex-direction: column;
    gap: 0.5rem;
  }

  .inputGroup2 .inputContainer {
    width: 100%;
  }
}